.main_content {
  background: #fffdf5;
  margin: auto;
  width: 88%;
  padding: 20px;
  min-height: 600px;
  /* border-radius */
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

.notice {
  color: green;
}

.alert {
  color: red;
}

.no-link-underline {
  text-decoration: none;
}
