.user-bar {
  float: right;
  background: #fffdf5;
  width: 300px;
  border: 1px black solid;
  margin: 30px;
  padding: 5px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
